.signup-page {
  background-color: black;
  color: white;
  min-height: 100vh;
  /* height: auto; */
  padding-bottom: 1rem;
}

.signup {
  margin: auto;
  padding-top: 1rem;
  width: 300px;
}

@media screen and (min-width: 1024px) {
  .signup {
    position: absolute;
    padding-top: 0rem;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2.5rem;
  }
}
