.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}
.header-app-name {
  font-size: 2rem;
  font-family: "Yellowtail", cursive;
  color: var(--primary-color);
  font-weight: bold;
}
#header-span-last-name {
  color: var(--secondary-color);
}
.header-user-img {
  display: flex;
  align-items: center;
}
.header-user-img:hover {
  cursor: pointer;
}
.header-user-img > span {
  padding-left: 0.3rem;
  color: var(--primary-color);
  font-weight: bold;
}
.header-user-img > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary-color);
}

#header-search {
  margin: auto;
  position: relative;
}
#header-search > input {
  outline: none;
  font-size: 1.1rem;
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
}
#search-icon {
  position: absolute;
  right: 0.5rem;
  top: 0.6rem;
  font-size: 1rem;
  color: var(--color-dark);
}
@media screen and (min-width: 1024px) {
  .header-app-name {
    font-size: 2.3rem;
  }
  .header-user-img > img {
    height: 40px;
    width: 40px;
  }
  #header-search > input {
    width: 400px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
  #search-icon {
    right: 0.5rem;
    top: 0.6rem;
    font-size: 1.3rem;
    color: var(--color-dark);
  }
  .user-box {
    position: absolute;
  }
}
