body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: rgb(83, 83, 238);
  --secondary-color: rgb(150, 150, 225);
  --background-color-dark: black;
  --background-color-light: white;
  --color-light: white;
  --color-dark: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Default styles for mobile devices */
body {
  font-size: 14px;
  background-color: var(--background-color-dark);
  color: var(--color-light);
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Styles for laptops and up */
@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
